*{
    margin: 0;
}
html {
    font-family: "Collection", sans-serif;
    background-color: #CBCCF7; 
}

header {
    background-color: #252427;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20%;
}

a{
    text-decoration: none;
    color: #252427;
    font-size: 50%;
    margin-left: 10%;
}

button{
    border-radius: 20px;
    border: 1px solid #252427; 
    padding: 1% 7% 1% 7%;
    margin-left:40%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    background-color: white;
}

.textBox:focus{
    outline: none;
}

.titulo{
    font-size: 200%;
}

.logo{
    height: 100px;
    width: auto;
}

.mal{
    font-size: 69%;
    text-align: center;
    color: #f263ff;
}

.texto{
    margin-top: 5%;
    padding: 0% 10% 0% 10%;
}

.textBox{
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
}

.ojo{
    height: 20px;
    width: auto;
    margin-left: 90%;
}

.LogIn{
    background-color: #CBCCF7;
    border-radius: 20px;
    border: 1px solid #252427;
    margin: 5%;
}

.reborde{
    background-color: #CBCCF7;
    margin-top: -19%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #CBCCF7;
}

.headerimg{
    height: 30px;
    width: auto;
    margin-left: 1%;
}

.headerdiv {
    display: flex;    
    justify-content:space-between;
    margin-right: 2%;
}
/* HOME */

.logohome {
    height: 600px;
}

.logohomediv{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Menú */
.negro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: rgba(0, 0, 0, 0.6);

}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 275px; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: rgba(37, 36, 39);
    background-image: url('../IMG/LOGO.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-y:120%;

}

hr{
    height: 10px;
    visibility: hidden;
}

.menuiconos{
    display: flex;
    justify-content: space-between;
    
}

.menuiconos img{
    margin: 2%;
    width: 50px;
    height: auto;
}


.menutop{
    background: linear-gradient(rgba(37, 36, 39, 1), rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 0));
    
}

.menuEstekak{
    padding-top: 20%;
    padding-bottom: 50%;
}

.hr1{
    border-color: white;
    width: 80%;
    margin-left: 10%;
    height: 0;
    visibility: inherit;
}

.menutext{
    text-decoration: none;
    margin-left: 10%;
    color: white;
    font-size: 175%;
    margin-bottom: 700px;
    

}

.menu img{
    top: 0;
    left: 0;
    position: absolute;
    margin: 2%;
    width: 50px;
    height: auto; 
}