*{
    margin: 0;
}
html {
    font-family: "Collection", sans-serif;
    background-color: #CBCCF7; 
}

header {
    background-color: #252427;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20%;
}

a{
    text-decoration: none;
    color: #252427;
    font-size: 50%;
    margin-left: 10%;
}

button{
    border-radius: 20px;
    border: 1px solid #252427; 
    padding: 1% 7% 1% 7%;
    margin-left:40%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    background-color: white;
}

.textBox:focus{
    outline: none;
}

.titulo{
    font-size: 200%;
}

.mal{
    font-size: 69%;
    text-align: center;
    color: #f263ff;
}

.texto{
    margin-top: 5%;
    padding: 0% 10% 0% 10%;
}

.logo{
    height: 100px;
    width: auto;
    
}

.textBox{
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
}

.ojo{
    height: 20px;
    width: auto;
    margin-left: 90%;
}

.LogIn{
    background-color: #CBCCF7;
    border-radius: 20px;
    border: 1px solid #252427;
    margin: 5%;
}

.reborde{
    background-color: #CBCCF7;
    margin-top: -19%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #CBCCF7;
}

/* HOME */

.logohome {
    height: 600px;
}

.logohomediv{
    text-align: center;
}

.puertahome {
    text-align: right;
    margin-right: 2%;
}

.menuhome{
    float: left;
    margin-left: 1%;
}

.logo{
    margin-right: 3%;
}