*{
    margin: 0;
}
html {
    font-family: "Collection", sans-serif;
    background-color: #CBCCF7; 
}

header {
    background-color: #252427;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 15%;
}

a{
    text-decoration: none;
    color: #252427;
    font-size: 50%;
    margin-left: 10%;
}

button{
    border-radius: 20px;
    border: 1px solid #252427; 
    padding: 1% 7% 1% 7%;
    margin-left:40%;
    margin-bottom: 5%;
    margin-top: 2.5%;
    background-color: white;
}

.textBox:focus{
    outline: none;
}

.titulo{
    font-size: 2vh;
}

.logo{
    height: 10vh;
    width: auto;
}

.arrow{
    height: 3vh;
}
.logout{
    height: 3vh;

}


.mal{
    font-size: 69%;
    text-align: center;
    color: #f263ff;
}

.texto{
    margin-top: 5%;
    padding: 0% 10% 0% 10%;
}

.textBox{
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-left: 10%;
    margin-top: 1%;
    width: 80%;
}

.ojo{
    height: 20px;
    width: auto;
    margin-left: 90%;
}

.LogIn{
    background-color: #CBCCF7;
    border-radius: 20px;
    border: 1px solid #252427;
    margin: 5%;
}

.reborde{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CBCCF7;
    margin-top: -14%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #CBCCF7;
}

.headerimg{
    height: 30px;
    width: auto;
    margin-left: 1%;
}

.headerdiv {
    display: flex;    
    justify-content:space-between;
    margin-right: 2%;
}
/* HOME */

.logohome {
    height: 600px;
}

.logohomediv{
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Menú */

nav{
    position: fixed;
    top: 0;
    left: -30vw;
    width: 15vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    background-color: rgba(37, 36, 39);
    background-image: url('../IMG/LOGO.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 180%;
    background-position-y:120%;
    /* Para que se quede en el centro - Paciencia 
    display: flex;
    align-items: center; 
    */

}

hr{
    height: 1vh;
    visibility: hidden;
}

/* Imagenes */

.menuiconos img{
    margin-left: 12vw;
    width: 2vw;
    height: auto;
}

.checkicon {
    width: 4vw;
    height: 4vw;
}

.checkicon:hover{
    background-color: #5b5766;
}




.menutop{
    background: linear-gradient(rgba(37, 36, 39, 1), rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 1),rgba(37, 36, 39, 0));

}

@keyframes moveAnimation {
    0% {
        left: -30vw;
    }
    100% {
        left: 0;
    }
}
@keyframes closeAnimation {

    0% {
        left: 0;
    }
    100% {
        left: -30vw;
    }

}

.animateM {
    animation: moveAnimation 0.5s linear;
    left: 0;
}
.animateMClose {
    animation : closeAnimation 0.5s linear;
    left: -30vw;
}

.animateFN {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    background-size: 100% 100%;
    transition: background 0.5s linear;
    background-color: rgba(0, 0, 0, 0.8);
}
.animateFNClose {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
    background-size: 100% 100%;
    transition: background 0.5s linear;
    background-color: rgba(0, 0, 0, 0);
}

.menuEstekak{
    padding-top: 20%;
    padding-bottom: 50%;
    /* Para que se quede en el centro - Paciencia
    align-self: center; 
    */
}

.hr1{
    border-color: white;
    width: 80%;
    margin-left: 10%;
    height: 0;
    visibility: inherit;
}

.menutext{
    text-decoration: none;
    margin-left: 10%;
    color: white;
    font-size: 1vw;
    margin-bottom: 700px;
    

}

.puertahome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3vh;
    margin-right: 3vh;
}
.menu img{
    top: 0;
    left: 0;
    position: absolute;
    margin: 1%;
    width: 1vw;
    height: auto; 
}

/*  */

input[type='checkbox'] {
    width:2vh;
    height:2vh;
    background:white;
    border-radius:5px;
    border:1px solid #555;
}
.tablachula{
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-left: 5%;
    width: 90%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 50%;
    border-radius: 20px;
    overflow: scroll; 
    
}
.tablachula table{
    
    border: 2px solid #606175;
    border-radius: 100px;
    height: 50vh;
    width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
    border-radius: 20px;
    color: black;
    font-size: 25px; 
}
  
.tablachula table th{
    border: 2px solid #606175;
    background-color: #E6F4FF;
    text-align: center;
    
    font-size: 3vh;
}
.tablachula table td{
    border: 2px solid #606175;
    background-color:white;
    text-align: center;
    font-size: 3vh;
    min-width: 1000vh;

}
.tablachula table tbody td{
    border: 2px solid #606175;
    background-color:white;
    text-align: center;
    font-size: 3vh;
    min-width: 1000vh;

}

#check{
   
    background-color: #E6F4FF;
    border: 2px solid #606175;
    
}
.up{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 200px;
    margin-top: 5%;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 200px;
    gap: 10px;
}
.search input{
   height: 31px;
   width: 200px;
   margin-bottom: 10px;
    }
.botones {
    display: flex;
    flex-direction: row;
    margin-right: 10vw;
    margin-left: 15vw;
}

.botones img{
    height: 50px;
}

.botones img:hover{
    height: 49px;
}
.botones button{
    background-color:#606175;
	border-radius:28px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #252427;
}
.elementos{
    display: flex;
    flex-direction: row;
    align-items: center;

    }
.boto{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8vw;
}

.botones button:hover{
    background-color:#252427;
	border-radius:28px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #252427;
}

.search button{
    background-color:#606175;
	border-radius:28px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #252427;
}

.search button:hover{
    background-color:#252427;
	border-radius:28px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #252427;
}

@media (min-width:1800px){
    .search input{
        height: 4vh;
        width: 30vw;
        margin-bottom: 5vh;
         }
   
    .up{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-right: 2000%;
    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 15vw;
        
    }

    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .search{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        

    }

    .search button{
        background-color:#606175;
        border-radius:28px;
        border:2px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    
    .search button:hover{
        background-color:#252427;
        border-radius:28px;
        border:2px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }

    .botones button{
        background-color:#606175;
        border-radius:28px;
        border:2px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    
    .botones button:hover{
        background-color:#252427;
        border-radius:28px;
        border:2px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    
        
}

@media (max-width:1200px){
    .logo img{
        height: 0px;
    }
    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 34vw;
        margin-right:11vw;
        
    }
    .search button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        
    }
    .search{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left:  39vw;
        margin-right:29vw;
    }
   
    .botones button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
      
    }
    
  
    .search button:hover{
        
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .botones button:hover{
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }


    .search input{
        height: 3vh;
        width:30vw;
        margin-bottom: 2vh;
        
        
         }
    .up{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .submites {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .elementos{
        display: flex;
        flex-direction: row;
        align-items: center;

        }
    .boto{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8vw;
    }

  }
  @media (max-width:1200px) and (min-height:2000px){
    .logo img{
        height: 0px;
    }
    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right:42vw;
        
    }
    .search button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        
    }
    .search{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left:  39vw;
        margin-right:29vw;
    }
   
    .botones button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
      
    }
    
  
    .search button:hover{
        
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .botones button:hover{
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 2vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }


    .search input{
        height: 3vh;
        width:30vw;
        margin-bottom: 2vh;
        
        
         }
    .up{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .submites {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .elementos{
        display: flex;
        flex-direction: row;
        align-items: center;

        }
    .boto{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8vw;
    }

  }

  @media (max-width:700px){
    .logo img{
        height: 0px;
    }
    .botones {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left:15vw;
        
    }
    .up{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-left: 50vw;
        margin-right: 50vw;
    }

    .search button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        margin-left: 20vh;
        
    }
    .search{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-left: 70vh;
        margin-right: 85vh;
    }

    .botones button{
        background-color:#606175;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
      
    }
    
    .botonsubmit{
        margin-left: 6vw;
       
    }
    .search button:hover{
        
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }
    .botones img{
        height: 10vh;
    }
    .botones img:hover{
        height: 10vh;
    }
    .botones button:hover{
        background-color:#252427;
        border-radius:28px;
        border:1px solid white;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:2vh;
        padding:1vh 4vh;
        text-decoration:none;
        text-shadow:0px 1px 0px #252427;
    }

    .search input{
        height: 1vw;
        width:20vw;
        margin-bottom: 1vh;
         }
    .up{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .submites {
        display: flex;
        flex-direction: column;
        align-items: center;
                
    }

    .botones img{
        height: 5vh;
    }
    .botones img:hover{
        height: 4vh;
    }
    .elementos{
        display: flex;
        flex-direction: row;
        align-items: center;

        }
    .boto{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
    }
  }

/* KOKALEKUA EGUNERATU */

.textBoxKokaleku {
    width: 24%;
    margin-left: 38%;
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-top: 1%;
}

.textokokaleku {
    margin-top: 3%;
    margin-left: 38%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* GELAK EGUNERATU */

.textBox1Columna {
    width: 15%;
    margin-left: 0%;
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-top: 1%;
}

.texto1Columna{
    margin-top: 3%;
    margin-left: -12%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ComboBox */

.custom-combobox {
    position: relative;
    margin-top: 2%;
    margin-bottom: -1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
}

.custom-combobox select {
    width: 100%;
    padding: 2.5%;
    font-size: 120%;
    border: 1% solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    
}

.custom-combobox option {
    font-size: 100%;
}

/* Txertatu */

.textoTxertatu {
    margin-top: 3%;
    margin-right: 19%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textoBoxTxertatu {
    width: 24%;
    border-radius: 20px;
    border: 1px solid #E8E9FC; 
    background-color: #E8E9FC;
    margin-top: 1%;
}

/* dobleColumn */

.dobleColumn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%; /* juega con esto :D */
}

.dobleColumn div {
    width: 50%; /* para que entren mas o menos en cada linea :D */
}

.ck{
    padding: 5%;
    display: flex;
    justify-content: center; 
}